/* Raleway (400, 700) ve Open Sans (400, 700) import ediyoruz */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
    /* --- Base Colors --- */
    --color-white: #FFFFFF;
    --color-black: #000000;

    /* --- Navy Palette --- */
    /* Görselde başlık 'Brown' olsa da etiketler 'Navy' olduğu için Navy kullanılmıştır */
    --color-navy-950: #0B1524;
    --color-navy-900: #181F2B;
    --color-navy-850: #1B2330;
    --color-navy-800: #202A3C;
    --color-navy-50: #DFE4F0;

    /* --- Blue Palette --- */
    --color-blue-300: #62E0D9;
    --color-blue-250: #8ADAE3;

    /* --- Red Palette --- */
    --color-red-500: #FF4242;

    /* --- Gray Palette --- */
    --color-gray-400: #C0C0C0;

    /* --- Gradients --- */
    --gradient-1-start: #63E1D9;
    --gradient-1-end: #34A0CD;

    /* Kullanım kolaylığı için tam gradient tanımı: */

    --gradient-primary: linear-gradient(90deg, var(--gradient-1-start) 0%, var(--gradient-1-end) 100%);

    /* --- Font Families --- */
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

}

/* CSS RESET START  */


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/* CSS RESET END */



h1,
.text-preset-1 {
    font-family: var(--font-primary);
    font-weight: 700;
    /* Bold */
    font-size: 40px;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0px;
}


h2,
.text-preset-2 {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0px;
}


h3,
button,
.text-preset-3-bold {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0px;
}

li,
.text-preset-3-regular {
    font-family: var(--font-primary);
    font-weight: 400;
    /* Regular */
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0px;
}


.text-preset-4 {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0px;
}

.text-preset-5 {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0px;
}


.text-preset-6 {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0px;
}

.text-preset-7-bold {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
}


.text-preset-7-regular {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
}


.text-preset-8 {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0px;
}

.text-preset-9-bold {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}


.text-preset-9-regular {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 10px;
    line-height: 1.8;
    /* 180% */
    letter-spacing: 0.5px;
}

.text-preset-10 {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 7px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

section {
    margin-inline: auto;
}

body {
    min-height: 100vh;
    background-color: var(--color-navy-850);
    color: white;
    background-image: url(images/bg-curvy-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}


main {
    max-width: 80.0625rem;
    margin-inline: auto;
    padding-inline: 5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 5rem;
    margin-block-end: 4rem;
}

ul {
    display: flex;
    gap: 3.5rem;
}

li:hover {
    color: var(--color-blue-300);
}


/*------ HERO CONTAINER ------ */


.hero-container {
    width: 45rem;
    text-align: center;
}

.hero-container h1 {
    margin-block: 3.5rem 2.5rem;
}

.hero-container img {
    max-width: 45rem;
    min-height: 534px;

}

.btn {
    background: var(--gradient-primary);
    color: white;
    border: none;
    border-radius: 1.75rem;
    padding: 1.125rem 5.9375rem;
    margin-block-start: 2rem;
}


/*-------- FEATURES --------*/

.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 12.5rem;
    margin-block: 11.25rem;
    

}

.first-container , .second-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}



.box p {
   margin-block-start: .5rem ;


/*--------- MEDIA QUERY ---------*/



@media screen and (max-width:850px) {

     .logo {
        width: 8.75rem;
    }

    ul {
        gap: 3rem;
    }

    main {
        padding-inline: 3.375rem;
    }

    .hero-container {
        max-width: 41.25rem;
    }

    .hero-container img {
        max-width: 660px;
        height: auto;
    }
}

@media screen and (max-width:750px) {

     main {
        padding-inline: 2rem;
    }

    .logo {
        width: 100px;
    }

    ul {
        gap: 2rem;
    }

    .hero-container {
        max-width: 35rem;
    }

    .hero-container img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
}

@media screen and (max-width:550px) {
     
     main {
        padding-inline: 1rem;
    }

    .logo {
        width: 4.375rem;
    }


     ul {
        gap: 1rem;
    }

    .hero-container {
        max-width: 21.875rem;
    }

    .hero-container h1 {
        margin-bottom: 0;
    }
    
     .hero-container p {
        margin-block: 1.5rem;
    }
}



















