/* Raleway (400, 700) ve Open Sans (400, 700) import ediyoruz */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
    /* --- Base Colors --- */
    --color-white: #FFFFFF;
    --color-black: #000000;

    /* --- Navy Palette --- */
    /* Görselde başlık 'Brown' olsa da etiketler 'Navy' olduğu için Navy kullanılmıştır */
    --color-navy-950: #0B1524;
    --color-navy-900: #181F2B;
    --color-navy-850: #1B2330;
    --color-navy-800: #202A3C;
    --color-navy-50: #DFE4F0;

    /* --- Blue Palette --- */
    --color-blue-300: #62E0D9;
    --color-blue-250: #8ADAE3;

    /* --- Red Palette --- */
    --color-red-500: #FF4242;

    /* --- Gray Palette --- */
    --color-gray-400: #C0C0C0;

    /* --- Gradients --- */
    --gradient-1-start: #63E1D9;
    --gradient-1-end: #34A0CD;

    /* Kullanım kolaylığı için tam gradient tanımı: */

    --gradient-primary: linear-gradient(90deg, var(--gradient-1-start) 0%, var(--gradient-1-end) 100%);

    /* --- Font Families --- */
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

}

/* CSS RESET START  */


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/* CSS RESET END */



h1,
.text-preset-1 {
    font-family: var(--font-primary);
    font-weight: 700;
    /* Bold */
    font-size: 40px;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0px;
}


h2,
.text-preset-2 {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0px;
}


h3,
button,
.text-preset-3-bold {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0px;
}

li,
.text-preset-3-regular {
    font-family: var(--font-primary);
    font-weight: 400;
    /* Regular */
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0px;
}


.text-preset-4 {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0px;
}

.text-preset-5 {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0px;
}


.text-preset-6 {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0px;
}

.text-preset-7-bold {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
}


.text-preset-7-regular {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
}


.text-preset-8 {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0px;
}

.text-preset-9-bold {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}


.text-preset-9-regular {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 10px;
    line-height: 1.8;
    /* 180% */
    letter-spacing: 0.5px;
}

.text-preset-10 {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 7px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

section {
    margin-inline: auto;
}

body {
    min-height: 100vh;
    background-color: var(--color-navy-850);
    color: white;

    
     background-image: url("./images/bg-curvy-desktop.svg"), linear-gradient(to bottom, transparent 1050px, hsl(218, 28%, 13%) 1050px);
    background-size: 100% auto;
    background-position: center 20%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

main {
    max-width: 80.0625rem;
    margin-inline: auto;
    padding-inline: 5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 5rem;
    margin-block-end: 4rem;
}

ul {
    display: flex;
    gap: 3.5rem;
}

li:hover {
    color: var(--color-blue-300);
}


/*------ HERO CONTAINER ------ */


.hero-container {
    width: 45rem;
    text-align: center;
}

.hero-container h1 {
    margin-block: 3.5rem 2.5rem;
}

.hero-container img {
    max-width: 45rem;
    min-height: 534px;

}

.btn {
    background: var(--gradient-primary);
    color: white;
    border: none;
    border-radius: 1.75rem;
    padding: 1.125rem 5.9375rem;
    margin-block-start: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}


/*-------- FEATURES --------*/


.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    /* align-items: center; */
    gap: 100px;
    max-width: 56.6875rem;
    margin-block: 11.25rem;
}

.first-container,
.second-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding: 20px;
}


.box:hover {
    border: 1px solid var(--color-blue-300);
    border-radius: 10px;
}

.box p {
    margin-block-start: .5rem;

}

/*------ PRODUCTIVE CONTAINER --------*/


.productive-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
    align-items: center;
}

.productive-text .first-p {
    margin-block-start: 2rem;
    margin-block-end: 1rem;
}

.productive-container a {
    display: flex;
    gap: 5px;
    width: fit-content;
    margin-block-start: 1.5rem;
    color: var(--color-blue-300);
    border-bottom: 1px solid var(--color-blue-300);
}

.productive-container a:hover {
    color: white;
    border-bottom: 1px solid white;
}

.productive-container a img {
    padding-block: 4px;
}

.productive-container img {
    max-width: 100%;
}


/*------- comments --------*/

.comments-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin-block: 11.25rem 28.125rem;
    position: relative;

}

.comments-box {
    background-color: var(--color-navy-800);
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 1.5rem;
}

.comments-box-profile {
    display: flex;
    gap: .5rem;
    margin-top: auto;
}

.comments-box-profile img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.comments-container::before {
    content: url(images/bg-quotes.png);
    position: absolute;
    z-index: -10;
    top: -35px;
    left: -8px;
}

/* access container  */

.access-container {
    margin-inline: auto;
    background-color: var(--color-navy-850);
    border-radius: .5625rem;
    padding: 3rem 5rem;
    text-align: center;
    max-width: 53.9375rem;
    box-shadow: 5px 5px 5px rgb(11, 11, 11);
    position: absolute;
    top: -140px;
    left: 20%;
}

.email-box {
    margin-block-start: 2rem;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 1.5rem;

}

.email-box input {
    width: 30rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    padding-inline-start: 1rem;

}

.email-box button {
    background: var(--gradient-primary);
    color: white;
    border: none;
    border-radius: 1.75rem;
    padding: 1rem 1.25rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.email-box button:hover,
.btn:hover {
    transform: translateY(-3px);
    background: linear-gradient(90deg, var(--gradient-1-end) 0%, var(--gradient-1-start) 100%);
}

/*-------- footer ------- */

footer {
    background-color: var(--color-navy-950);
    padding-block: 12.5rem 3.5rem;
    padding-inline: 5rem;
    max-width: 90rem;
    margin-inline: auto;
    position: relative;
}

footer img {
    width: 6.75rem;
    height: 1.9375rem;
    margin-block-end: 3rem;
}

.boxes {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    justify-content: center;
    margin-block: 3rem 3.5rem;
}

.boxes a {
    display: inline-block;
    margin-block-end: 1rem;
}

.contact-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline-start: 2rem;
}

.contact {
    display: flex;
    justify-content: start;
    gap: 1.6875rem;
}

.contact img {
    width: 1.125rem;
    height: 1.125rem;
    margin-block-end: 0;
}

.navigation {
    display: flex;
    justify-content: end;
    gap: 5rem;
}

.social-icons {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.social-icons i:hover {
    color: var(--color-blue-300);
}

.social-icons a {
    border: 1px solid white;
    border-radius: 50%;
    height: fit-content;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*--------- MEDIA QUERY ---------*/



@media screen and (max-width:850px) {

    body {
         background-image: url("./images/bg-curvy-desktop.svg"), linear-gradient(to bottom,transparent 550px, hsl(218, 28%, 13%) 8550px);
  background-size: 100% auto;
  background-position: center 12%; 
  background-repeat: no-repeat;
    }

    .logo {
        width: 8.75rem;
    }

    ul {
        gap: 3rem;
    }

    main {
        padding-inline: 3.375rem;
        position: relative;
    }

    /* hero  */

    .hero-container {
        max-width: 41.25rem;
    }

    .hero-container img {
        max-width: 660px;
        height: auto;
    }

    /* productive  */

    .productive-container {
        display: grid;
        grid-template-columns: 1fr;

    }

    /* comments  */

    .comments-container {
        grid-template-columns: 1fr;
        padding-inline: 4rem;
        margin-block: 150px 23.75rem;
    }

    .comments-container::before {
        left: 3.125rem;
    }

    /* access  */

    .access-container {
        max-width: 30rem;
        padding: 3rem 2.5rem;
        top: -14.375rem;

    }

    .email-box {
        display: flex;
        flex-direction: column;

    }

    .email-box input,
    .email-box button {
        width: 100%;
    }

    /* footer  */

    footer {
        padding-block-start: 16.0625rem;
    }

    footer .boxes {
        grid-template-columns: 1fr 1fr;
        row-gap: 3.5rem;
        column-gap: 100px;
    }

    .contact-box {
        padding-left: 0;
    }

    .navigation,
    .social-icons {
        justify-content: start;
    }

}

/* 750px   */

@media screen and (max-width:750px) {

    main {
        padding-inline: 2rem;
    }

    .logo {
        width: 100px;
    }

    ul {
        gap: 2rem;
    }

    .hero-container {
        max-width: 35rem;
    }

    .hero-container img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    /* features  */

    .features-container {
        grid-template-columns: 1fr;
        gap: 5rem;
        margin-block: 6.25rem
    }

    /* productive       */

    .productive-container {
        grid-template-columns: 1fr;
    }
}


/* 550px */


@media screen and (max-width:550px) {

    main {
        padding-inline: 1rem;
    }

    .logo {
        width: 4.375rem;
    }


    ul {
        gap: 1rem;
    }

    .hero-container {
        max-width: 21.875rem;
    }

    .hero-container h1 {
        margin-bottom: 0;
    }

    .hero-container p {
        margin-block: 1.5rem;
    }

    /* features  */

    .features-container {
        margin-block-start: 180px;
    }

    /* PRODUCTIVE  */


    .productive-container {
        margin-block-start: 180px;
    }


    /* comments  */

    .comments-container {
        grid-template-columns: 1fr;
        padding-inline: 1.75rem;
        margin-block: 200px 23.75rem;
    }

    .comments-container::before {
        left: 1.25rem;
    }

    /* access  */

    .access-container {
        max-width: 21rem;
        padding: 2.5rem 1.5rem;
        top: -14.375rem;
        left: 7%;
    }

    /* footer  */

    footer .boxes {
        grid-template-columns: 1fr;
        row-gap: 3.5rem;
        column-gap: 100px;
        margin-block-end: 0;
    }

    .navigation {
        flex-direction: column;
        gap: 2.5rem;
    }

    .social-icons {
        justify-content: center;
    }
}




/* Gözlemlenen tüm ana konteynerler için başlangıç görünümünü ayarla */

.hero-container,
.box, 
.productive-container, 
.comments-box, 
.access-container,
.boxes /* Feature kutuları da ayrı ayrı animasyon alabilir */
{
    /* Animasyon için yumuşak geçişi (transition) tanımla */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    
    /* Başlangıç Durumu: Hafifçe aşağıda ve gizli */
    opacity: 0;
    transform: translateY(40px); 
}


/* JavaScript bu sınıfı eklediğinde animasyon gerçekleşir */
.animate-in {
    /* Bitiş Durumu: Tamamen görünür ve orijinal konumunda */
    opacity: 1;
    transform: translateY(0); 
}